.retrato {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.fondo-blanco {
  width: 300px;
  height: 300px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imagen-flotando {
  position: absolute;
  width: 100px;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
}

.contenedor {
  color: #333;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 32px;
  background: #f1f1f1;
  border-radius: 32px 32px 0 0;
  position: relative;
}

.contenedor-imagen {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

p {
  font-size: 24px;
}

.fila {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}

.icono {
  width: 40px;
  height: 40px;
  margin-left: 16px;
}

figure {
  width: 100%;
}

figcaption {
  text-align: center;
}

h1 {
  margin: auto;
}

footer {
  background-color: aquamarine;
  padding: 32px;
  border-radius: 0 0 32px 32px;
}

body {
  margin: 8px;
}
