div {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

input {
  max-width: 300px;
  margin-top: 8px;
}

img {
  width: 16px;
  height: 16px;
}

.fila {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.radio {
  display: inline-block;
}

.boton-icono {
  width: 36px;
  height: 36px;
}
